<div class="container-fluid">
	<div class="row">
		<div ng-class="{true:'col-xs-8', false:'col-xs-12'}[saleSelected!=null]">
			<table st-table="rowCollection" class="table table-striped">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Sale Date</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>Gross Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in sales" ng-click="selectSale(row)">
						<td>{{productByID(row.selectedProduct).name}}</td>
						<td>{{dateFromObjectId(row._id) | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						<td>{{row.quantity}}</td>
						<td>${{productByID(row.selectedProduct).price}}</td>
						<td>${{row.quantity * productByID(row.selectedProduct).price}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4" data-ng-if="saleSelected">
			<p>{{saleSelected}}</p>
		</div>
	</div>
</div>