<div id="tableContainer" class="container-fluid">
	<div class="row">
		<div class="col-xs-12" id="dataInfo" data-ng-if="!tableData">
			<div class="well bg-success">
				<div class="row">
					<div class="col-xs-12">
						<i class="fa fa-search fa-5x faa-float animated" aria-hidden="true"></i>
					</div>
					<div class="col-xs-12">
						<p>Please search for a TV Series in the search bar above</p>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-8" data-ng-if="tableData">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<h1 data-ng-if="titleToSearch">Search Results for '{{titleToSearch}}'</h1>
							<thead>
								<tr>
									<th scope="col" id="title">Title</th>
									<th scope="col" id="year">Year</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="obj in tableData" data-ng-click="select(obj.imdbID)">
									<td headers="code">{{obj.Title}}</td>
									<td headers="year">{{obj.Year}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="detailPanel" class="col-md-4" data-ng-if="selectedData">
			<div class="panel panel-info">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<h1>{{selectedData.Title}}</h1>
						</div>
						<div class="col-md-12">
							<p class="genre">{{selectedData.Genre}}</p>
						</div>
						<div class="col-md-12">
							<p>Year: {{selectedData.Year}}</p>
						</div>
						<div class="col-md-12">
							<p>Rating: {{selectedData.imdbRating | ratingPercentage}}</p>
						</div>
						<div data-ng-if="selectedData.Poster != 'N/A'" class="col-md-12">
							<hr />
						</div>
						<div class="col-md-12" data-ng-if="selectedData.Poster != 'N/A'">
							<img class="img-responsive" data-ng-src="{{selectedData.Poster}}" />
						</div>
						<div class="col-md-12">
							<hr />
						</div>
						<div class="col-md-12">
							<p class="plot">{{selectedData.Plot}}</p>
						</div>
						<div class="col-md-12">
							<hr/>
						</div>
						<div class="col-md-12">
							<button type="button" class="btn btn-primary" data-ng-click="viewSeasons()">View Seasons</button>

							<a href="{{selectedData.imdbID | imdbURL}}" target="_blank">
								<button type="button" class="btn btn-info">View on IMDB</button>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>